<div data-role="page" data-position="fixed" data-tap-toggle="false" id="list" data-url="list">
    <div data-role="header"><h3>List</h3></div>
    <div data-role="content">
        <ul data-role="listview">
            <li><a href="#item1">itme1</a></li>
            <li><a href="#item2">itme2</a></li>
            <li><a href="#item3">itme3</a></li>
        </ul>
    </div>
</div>
<div data-role="page" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false" id="item1">
    <div data-role="header"><h3>itme1</h3></div>
    <div data-role="content">
        This is item1 page;
    </div>
</div>
<div data-role="page" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false" id="item2">
    <div data-role="header"><h3>itme2</h3></div>
    <div data-role="content">
        This is item2 page;
    </div>
</div>
<div data-role="page" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false" id="item3">
    <div data-role="header"><h3>itme3</h3></div>
    <div data-role="content">
        This is item3 page;
    </div>
</div>