@{
    ViewBag.Title = "客户转移预警明细表";
    Layout = "~/Views/Shared/_Layout.mobile.cshtml";

    var projectid = "";
    if (Request.RequestContext.RouteData.Values["projectid"] != null) { projectid = Request.RequestContext.RouteData.Values["projectid"].ToString(); }

}
@section Main{
   
  
    <div data-role="content">
        
    </div>
    <div class="ui-widget ui-widget-content ui-corner-all searchdiv">
        转移类型：
        @Html.MyDropdown("Type", Project.GetOutTimeType(false))
        @MyControls.MobileSearchBtn("AlertList");
    </div>
    <div name="resulttable">

    </div>
    <script type="text/template" id="tplForAlertList">
        <table class="table table-bordered table-striped ">
            <thead>
                <tr>
                    <th style="width:100px">姓名</th>
                    <th style="width:80px">销售组</th>
                    <th style="width:120px">转移类型</th>
                </tr>
            </thead>
            <tbody>
                <tr style="display:none">
                    <td></td>
                </tr>
                <%for(var i=0;i<obj.length;i++){var item=obj[i]; %>
                    <tr onclick="showClientForAlertList(<%=item.ClientId%>)">
                        <td><%=item.Name%></td>
                        <td><%=item.GroupName%></td>
                        <td><%=item.Type%></td>
                    </tr>

                    <%}%>
            </tbody>
        </table>
    </script>
      <script type="text/javascript">
          function SearchClickForAlertList() {
            var PostData = {};
            PostData.Type=$("#projectReportDetail [name='Type']").val();
            $.post("@(MvcApplication.RootPath + "/Project/" + projectid.ToString() + "/Client/AlertListQuery")", PostData, function (respDate) {
                if (respDate.success == true) {
                    list = respDate.obj;
                    showEntersForAlertList(list);
                } else {
                    alert(respDate.obj);
                }
            });
        }
        function showEntersForAlertList(obj) {
            var element = $("#projectReportDetail [name='resulttable']");
            var tplForAlertList = $('#tplForAlertList').html();
            var html = _.template(tplForAlertList, obj);
            element.html(html);
        }
       function showClientForAlertList(id) {
            load('clientview','@(MvcApplication.RootPath + "/Project/" + projectid.ToString() + "/Client/View/")' + id);
       }
       SearchClickForAlertList();
    </script>
}
