
@using RealEstateCRM.Web
@using RealEstateCRM.Web.BLL
@using OUDAL
@model HttpBrowserCapabilitiesBase 

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_MainListLayout.cshtml";
}

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h2>欢迎使用 基金募集管理与投资者服务 管理系统</h2>
        <p></p>
      </div>
      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
            <h2>系统通知</h2>
            <ul>
                <li>2013-6-1 [置顶] 这个是置顶通知，点击可查看具体通知内容</li>
                <li>2013-6-20 通知五 按新旧程度倒叙排列</li>
                <li>2013-6-14 通知四 《系统使用帮助》文档已发布</li>
                <li>2013-6-5  通知三 </li>
            </ul>
            <blockquote>通知是全系统用户均可看到的公开消息<br/>活动发布、标准文档发布会自动发通知</blockquote>
        </div>
          <div class="span6">
              <h2>提醒消息</h2>
              <ul>
                  <li>客户xxx 申请参加活动</li>
                  <li>客户xxx 申请领导支持</li>
              </ul>
              <blockquote>消息是与具体业务相关的提醒，每个用户根据权限不同而显示不同提醒<br/></blockquote>
          </div>
          <hr/>
    </div>
@section Footer{
@@copyright 上海虬溪软件 2013 
<script language="javascript">
  
</script>
}