
@using RealEstateCRM.Web
@using RealEstateCRM.Web.BLL
@using OUDAL
@model HttpBrowserCapabilitiesBase 

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_MainListLayout.cshtml";
}

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h2>欢迎使用 绿地集团.事业二部 客户关系管理系统</h2>
        <p></p>
      </div>
      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
            <h2>系统通知</h2>
            <ul>
                
            </ul>
            <blockquote>通知是全系统用户均可看到的公开消息<br/>活动发布、标准文档发布会自动发通知</blockquote>
        </div>
          <div class="span6">
              <h2>提醒消息</h2>
              
              <blockquote>消息是与具体业务相关的提醒，每个用户根据权限不同而显示不同提醒<br/></blockquote>
          </div>
          <hr/>
    </div>
@section Footer{
        <div id="foot" style="position: absolute;">
            @@Copyright 上海虬溪软件 2013

        </div>
    <script language="javascript">
  
        </script>
        <style type="text/css">
        html, body {background-color: #F1F1F1;
        width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            overflow: hidden;
        }

        #foot {
            position: absolute;
            bottom: 0px;
            right: 16px;
            width: 100%;
            height: 20px;
            text-align: center;
            z-index: 2;
            overflow: hidden;
            border-top: 1px solid #E0E0E0;
            color: #888888;
        }
        </style>
}