@{
    ViewBag.Title = "密码修改";
}

<div data-role="header" data-position="fixed" data-tap-toggle="false" align="center" data-theme="b" data-hide-during-focus="">
    <h3>密码修改</h3>
</div>
<div data-role="content">
    <p>
        密码已修改
        <a data-role="button" onclick="loadandchange('@(MvcApplication.RootPath + "/Account/LogOff")');">点击重新登录</a>
    </p>
</div>