@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Layout.mobile.cshtml";
}
<script type="text/javascript">
    function checkform() {
        if ($("#changepassword [name=password]").val() == "") {
            alert("请输入新密码");
            $("#changepassword [name=password]").focus();
        }
        post('changepassword', '@Request.Url.AbsoluteUri', $('#changepassword form').serialize());
    }
</script>
@section Main{
    <div data-role="content">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
                    <h4>请注意账号安全，在无旁人观看的时候修改密码</h4>
                    <div class="editor-label">
                        <label class="len80">旧密码</label>   <input type="text" id="oldpassword" name="oldpassword" />@Html.ValidationMessage("oldpassword")
                    </div>
                    <br />
                    <div class="editor-field">
                        <label class="len80">新密码</label>   <input type="text" id="password" name="password" />
                    </div>
                    <p>
                        <input type="button" value="确定" onclick="checkform();" />
                    </p>
        }
    </div>
}